.body{
    margin: 0;
    padding: 0;
}

.imagem {
    width: 100%;
    float: left;
    padding-right: 10px;
}

.texto{
    margin-top: 10px;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
}

.texto1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}


.imagem1{
    background-image: url("img/wallpaper (edit1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imagem2{
    background-image: url("img/wallpaper 3 (edit2).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

hr{
    border-color:#aaa;
    box-sizing:border-box;
    width:100%;  
}